.Rproj.user
.Rhistory
.RData
.Ruserdata
cache/*.Rdata
notebook/_book
notebook/_main.rds
notebook/_bookdown_files/*_cache/latex
notebook/_bookdown_files/*_files/figure-latex
cache/*.hash
reports/*/*.pdf
